<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <partial name="_Metas"/>
    <partial name="_Styles"/>
    <title>@ViewData["Title"]</title>
</head>

<body>
<div class="main-wrapper">

    <!-- partial:../../partials/_navbar.html -->
    <div class="horizontal-menu">
     

    </div>
  
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">

        </div>

        <!-- partial:../../partials/_footer.html -->
        <footer
            class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        </footer>
        <!-- partial -->

    </div>
</div>

<!-- core:js -->
<script src="~/vendors/core/core.js"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<!-- End plugin js for this page -->

<!-- inject:js -->
<script src="~/vendors/feather-icons/feather.min.js"></script>
<script src="~/js/template.js"></script>
<!-- endinject -->

<!-- Custom js for this page -->
<!-- End custom js for this page -->


</body>
@RenderBody();
</html>