@model Accounting.DataLayer.Entities.User

@{
    Layout = null;
    ViewData["Title"] = "ثبت نام موفق";
}
<head>
<partial name="_Metas"/>
<partial name="_Styles"/>
</head>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">@Model.UserName عزیز </h4>
                <p class="text-muted text-center" >
                    ثبت نام شما در سایت <a href="/">حسابداران</a> با موفقیت انجام شد!
                    جهت ورود به سایت کلیک کنید
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <a href="/" class="btn btn-primary text-center" >ورود به سایت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>